{% load static %}

<form action="{% url 'search_page' %}" method="GET">
    <div class="row g-3" style="margin-top: {{ mt }}%; margin-bottom: {{ mb }}%;">

      <div class="col-md-12 col-lg-3">
        <input list="districts" name="district" id="id_district" class="form-select form-select-lg" aria-label=".form-select-lg" required placeholder="Choose District">
        <datalist id="districts"></datalist>
      </div>

      <div class="col-md-12 col-lg-3">
        <input list="locals" name="local" id="id_local_level" class="form-select form-select-lg" aria-label=".form-select-lg" required placeholder="Choose Local Level">
        <datalist id="locals"></datalist>
      </div>

      <div class="col-md-12 col-lg-3">
        <select name="blood" class="form-select form-select-lg" aria-label=".form-select-lg" required>
          <option value="">-- Blood Group --</option>
          <option value="a">A+</option>
          <option value="a-">A-</option>
          <option value="b">B+</option>
          <option value="b-">B-</option>
          <option value="ab">AB+</option>
          <option value="ab-">AB-</option>
          <option value="o">O+</option>
          <option value="o-">O-</option>
        </select>
      </div>

      <div class="col-md-12 col-lg-3">
        <button type="submit" class="btn btn-danger btn-lg" style="width: 100%;"><i class="fas fa-search"></i>
          Find Donors</button>
      </div>

    </div>
    </form>

    <script>
      $(document).ready(function() {

        var district = $('#districts');
        $.getJSON("{% static 'js/places.json' %}", function (result) {
          for(x in result) {
            district.append($("<option></option>").attr("value", x));
          }
        });

        $('#id_district').on('change', function () {
          var state = $(this).val(), city = $('#locals');
          $.getJSON("{% static 'js/places.json' %}", function (result) {
            var values = result[state];
            city.find('option').remove();
            if (values != undefined && values.length > 0) {
              $(values).each(function(index, element) {
                city.append($("<option></option>").attr("value", element));
              });
            }
          });
        });

      });
    </script>