<form action="{% url 'search_page' %}" method="GET">
  <div class="row g-3" style="margin-top: {{ mt }}%; margin-bottom: {{ mb }}%;">

    <div class="col-md-12 col-lg-3">
      <select name="district" id="id_district" class="form-select form-select-lg" aria-label=".form-select-lg" required>
        <option value="">-- District --</option>
      </select>
    </div>

    <div class="col-md-12 col-lg-3">
      <select name="local" id="id_local_level" class="form-select form-select-lg" aria-label=".form-select-lg" required>
        <option value="">-- Local Level --</option>
      </select>
    </div>

    <div class="col-md-12 col-lg-3">
      <select name="blood" class="form-select form-select-lg" aria-label=".form-select-lg" required>
        <option value="">-- Blood Group --</option>
        <option value="a">A+</option>
        <option value="a-">A-</option>
        <option value="b">B+</option>
        <option value="b-">B-</option>
        <option value="ab">AB+</option>
        <option value="ab-">AB-</option>
        <option value="o">O+</option>
        <option value="o-">O-</option>
      </select>
    </div>

    <div class="col-md-12 col-lg-3">
      <button type="submit" class="btn btn-danger btn-lg" style="width: 100%;"><i class="fas fa-search"></i>
        Find Donors</button>
    </div>

  </div>
</form>

{% include 'includes/populate_dropdown.html' %}