{% extends 'base.html' %}
{% load static %}


{% block meta %}

<title>Page Not Found (404) - Online Blood Bank</title>
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="Error 404 - Page Not Found" />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

<!-- Main Banner -->
  <div class="container mt-3">
    <h3 class="text-danger display-3">Page Not Found!</h3>
    <p class="lead">Maybe, trying to search donors?</p>

    {% include 'includes/search-form.html' with mt=5 mb=5 %}

    <p class="lead">
      <span class="text-bold">Or try these links:</span>
      <ul>
        <li><a class="nav-link" href="{% url 'home_page' %}">Homepage</a></li>
        <li><a class="nav-link" href="{% url 'search_page' %}">Browe Donors</a></li>
        <li><a class="nav-link" href="{% url 'pending_requests' %}">Pending Requests</a></li>
        <li><a class="nav-link" href="{% url 'submit_request' %}">Submit Request</a></li>
      </ul>
    </p>

  </div>
<!-- End Main Banner -->

{% endblock %}


{% block scripts %}
{% endblock %}