{% extends 'base.html' %}
{% load static %}


{% block meta %}

<title>Server Error (500) - Online Blood Bank</title>
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="Error 500 - Server Error" />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

<!-- Main Banner -->

  <div class="container mt-3 vh-100">
    <h3 class="text-danger display-3">Server Error!</h3>
    <p class="lead">Something is wrong in our side.<br>We are trying to fix it soon.</p>
    <p class="lead">Please inform us about this error.<br>Write us at: peeknepal@gmail.com</p>
  </div>
  
<!-- End Main Banner -->

{% endblock %}


{% block scripts %}
{% endblock %}