{% extends 'base.html' %}
{% load static %}


{% block meta %}

<title>Change Password - Online Blood Bank</title>
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="Change your login password." />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

<div class="body-form vh-100">
  <main class="form-signin">
    <form action="{% url 'changePassword_page' %}" method="POST">

      {% include 'includes/general-form.html' %}

      <button class="w-100 btn btn-lg btn-danger" type="submit">Change Password</button>

    </form>

  </main>
</div>

{% endblock %}


{% block scripts %}
{% endblock %}