{% extends 'base.html' %} 

{% block main %}

<!-- Main Banner -->
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="display-3 fw-bold">
        {{ request.user.first_name }} {{ request.user.last_name }}
      </h2>
    </div>
    <div class="col-lg-6">
      <div class="display-6 form-check form-switch">
        <input {% if request.user.is_donor %} checked {% endif %} class="form-check-input" type="checkbox"
          id="profilestatus" />
        <label class="form-check-label" for="profilestatus">List as Donor</label>
      </div>
    </div>
  </div>

  <hr />

  <div class="row my-2">
    <div class="col-lg-6">
      <img src="{{ request.user.display_photo.url }}" class="img-fluid" />
      <hr />
      <form class="row g-3" action="{% url 'upload_image' %}" enctype="multipart/form-data" method="POST" novalidate>
        {% csrf_token %}
          {% for form_field in photo_form %}
            <div class="col-auto">
              {{ form_field }}
            </div>
          {% endfor %}
        <div class="col-auto">
          <button type="submit" class="btn btn-danger mb-3">Upload</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <p class="display-6">
        Blood Group:
        <strong>{{ request.user.blood_group.group }}</strong> <br />
        Address:
        <strong>{{ request.user.district }}, {{ request.user.local_level }}</strong>
        <br />
        Gender: <strong>{{ request.user.get_gender_display }}</strong> <br />
        Age: <strong>{{ request.user.age }} Y/O </strong> <br />
      </p>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#updateProfieModal">
        Edit Details
      </button>

      <!-- Modal -->
      <div class="modal fade" id="updateProfieModal" tabindex="-1" aria-labelledby="updateProfieModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateProfieModalLabel">Update Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form novalidate action="{% url 'dashboard_page' %}" method="POST">
                {% csrf_token %}
    
                {% if form.non_field_errors %}
                    {% for n_error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ n_error|escape }}</div>
                    {% endfor %}
                {% endif %}
    
                <div class="row g-3">
    
                    <div class="col-12">
                        {{ form.email.label_tag }}
    
                        {{ form.email }}
    
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.email.help_text %}
                            <div class="text-secondary">{{ form.email.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.first_name.label_tag }}
    
                        {{ form.first_name }}
    
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.first_name.help_text %}
                            <div class="text-secondary">{{ form.first_name.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.last_name.label_tag }}
    
                        {{ form.last_name }}
    
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.last_name.help_text %}
                            <div class="text-secondary">{{ form.last_name.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.blood_group.label_tag }}
    
                        {{ form.blood_group }}
    
                        {% if form.blood_group.errors %}
                            {% for error in form.blood_group.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.blood_group.help_text %}
                            <div class="text-secondary">{{ form.blood_group.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.gender.label_tag }}
    
                        {{ form.gender }}
    
                        {% if form.gender.errors %}
                            {% for error in form.gender.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.gender.help_text %}
                            <div class="text-secondary">{{ form.gender.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.phone_number.label_tag }}
    
                        {{ form.phone_number }}
    
                        {% if form.phone_number.errors %}
                            {% for error in form.phone_number.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.phone_number.help_text %}
                            <div class="text-secondary">{{ form.phone_number.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.date_of_birth.label_tag }}
    
                        {{ form.date_of_birth }}
    
                        {% if form.date_of_birth.errors %}
                            {% for error in form.date_of_birth.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.date_of_birth.help_text %}
                            <div class="text-secondary">{{ form.date_of_birth.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.district.label_tag }}
    
                        {{ form.district }}
    
                        {% if form.district.errors %}
                            {% for error in form.district.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.district.help_text %}
                            <div class="text-secondary">{{ form.district.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                    <div class="col-sm-6">
                        {{ form.local_level.label_tag }}
                        
                        {{ form.local_level }}
    
                        {% if form.local_level.errors %}
                            {% for error in form.local_level.errors %}
                                <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
    
                        {% if form.local_level.help_text %}
                            <div class="text-secondary">{{ form.local_level.help_text|safe }}</div>
                        {% endif %}
                    </div>
    
                </div>
    
                <button class="w-100 mt-3 btn btn-danger btn-lg" type="submit">Update</button>
    
            </form>
            
            </div>
          </div>
        </div>
      </div>
      <!-- Modal End -->

      <div class="my-3">
        <a class="btn btn-danger btn-lg" href="{% url 'manage_request_page' %}">Manage Requests</a>
      </div>


    </div>
  </div>

  <hr class="my-5" />

  <div class="row my-2">
    <div class="col-12">
      <h2 class="text-danger">Pending Donations</h2>
      <div class="table-responsive">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Requested By</th>
            <th scope="col">Contact</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for pending in pendings %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ pending.for_date }}</td>
            <td>{{ pending.district }}, {{ pending.local_level }}</td>
            <td> <a class="alert-link" style="text-decoration: none;" href="{% url 'user_page' pending.requested_by.id %}">{{ pending.requested_by.first_name }} {{ pending.requested_by.last_name }}</a> </td>
            <td>
              {% if pending.status == 'verified' %}
                {{ pending.requested_by.phone_number }}
              {% else %}
                Not Verified Yet!
              {% endif %}
            </td>
            <td>
              {% if pending.status == 'pending' %}
              <a href="{% url 'verify_request_status' pending.id %}" class="btn btn-sm btn-danger">Verify</a>
              {% else %}
                  {{ pending.get_status_display }} 
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-12">
      <h2 class="text-danger">Completed Donation History</h2>
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Requested By</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for donation in donated %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ donation.for_date }}</td>
            <td>{{ donation.district }}, {{ donation.local_level }}</td>
            <td> <a class="alert-link" style="text-decoration: none;" href="{% url 'user_page' donation.requested_by.id %}">{{ donation.requested_by.first_name }} {{ donation.requested_by.last_name }}</a> </td>
            <td>{{ donation.requested_by.phone_number }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>

</div>
<!-- End Main Banner -->

{% endblock %} 

{% block scripts %}

<script>

  $("#profilestatus").change(function () {
    $.ajax({
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
      url: "{% url 'change_is_donor_page' %}",
      method: "POST",
      error: function () {
        alert("Cannot Make Connection!");
      }
    });
  });
</script>

{% if request.method == "POST" %}
<script>
  var myModal = new bootstrap.Modal(document.getElementById('updateProfieModal'), { keyboard: false });
  myModal.show();
</script>
{% endif %}

{% endblock %}