{% extends 'base.html' %}
{% block main %}

    <!-- Main Banner -->
    <div class="container my-5 vh-100">
        
        {% include 'includes/search-form.html' with mt=3 mb=3 %}
          
        <div class="alert alert-danger my-5">
            {% if request.GET.blood and request.GET.district and request.GET.local %}
                Showing Results: <strong>{{ request.GET.blood }}</strong> in <strong>{{ request.GET.district }}, {{ request.GET.local }}</strong>
            {% else %}
                Showing all available donors
            {% endif %}
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

            {% for user in users %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ user.display_photo.url }}" class="card-img-top">
                    <div class="card-body ">
                        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                        <p class="card-text">
                            Blood Group: <strong>{{ user.get_blood_group_display }}</strong> <br>
                            District: <strong>{{ user.district }}</strong> <br>
                            Local Level: <strong>{{ user.local_level }}</strong>
                        </p>
                        <a href="{% url 'user_page' user.id %}" class="btn btn-danger">View Profile</a>
                    </div>
                </div>        
            </div>
            {% empty %}
            <div class="container text-center mt-5" style="width: 100%;">
                <span class="display-3">No any donors found.</span>
            </div>
            {% endfor %}

        </div>
        
    </div>
    <!-- End Main Banner -->


    {% endblock %}