{% extends 'base.html' %}
{% load static %}


{% block meta %}

{% if blood %}
    <title>Searching donors for {{ blood.group }} in {{ request.GET.district }}, {{ request.GET.local }} - Online Blood Bank</title>
{% else %}
    <title>Browsing all donors - Online Blood Bank</title>
{% endif%}
<meta name="keywords" content="blood, online blood, blood bank, nepal, health, medicines, emergency, hospitals" />
<meta name="description" content="Browse the list here and find someone whom you can request to donate blood." />
<meta name="author" content="https://arjunsingh.com.np/" />

{% if blood %}
    <meta property="og:title" content="Searching donors for {{ blood.group }} in {{ request.GET.district }}, {{ request.GET.local }} - Online Blood Bank" />
{% else %}
    <meta property="og:title" content="Browsing all donors - Online Blood Bank" />
{% endif%}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Browse the list here and find someone whom you can request to donate blood." />
<meta property="og:image" content="{{ request.get_host }}{% static 'images/online-blood-bank.png' %}" />
<meta property="og:type" content="website" />

<meta property="twitter:card" content="summary_large_image" />
{% if blood %}
    <meta property="twitter:title" content="Searching donors for {{ blood.group }} in {{ request.GET.district }}, {{ request.GET.local }} - Online Blood Bank" />
{% else %}
    <meta property="twitter:title" content="Browsing all donors - Online Blood Bank" />
{% endif%}
<meta property="twitter:image" content="{{ request.get_host }}{% static 'images/online-blood-bank.png' %}" />
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:image:alt" content="Onlne Blood Bank" />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

    <!-- Main Banner -->
    <div class="container my-5">
        
        {% include 'includes/search-form.html' with mt=3 mb=3 %}
          
        <div class="alert alert-danger my-5">
            {% if request.GET.blood and request.GET.district and request.GET.local %}
                Showing Results: <strong>{{ blood.group }}</strong> in <strong>{{ request.GET.district }}, {{ request.GET.local }}</strong>
            {% else %}
                Showing all available donors
            {% endif %}
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

            {% for user in users %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ user.display_photo.url }}" class="card-img-top">
                    <div class="card-body ">
                        <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                        <p class="card-text">
                            Blood Group: <strong>{{ user.blood_group.group }}</strong> <br>
                            District: <strong>{{ user.district }}</strong> <br>
                            Local Level: <strong>{{ user.local_level }}</strong>
                        </p>
                        <a href="{% url 'user_page' user.id %}" class="btn btn-danger">View Profile</a>
                    </div>
                </div>        
            </div>
            {% empty %}
            <div class="container text-center mt-5" style="width: 100%;">
                <span class="display-3">No any donors found.</span>
            </div>
            {% endfor %}

        </div>
        
    </div>
    <!-- End Main Banner -->

    {% include 'includes/pagination.html' with posts=users %}

{% endblock %}


{% block scripts %}
{% endblock %}