{% extends 'base.html' %}
{% load static %}


{% block meta %}

<title>Login - Online Blood Bank</title>
<meta name="keywords" content="blood, online blood, blood bank, nepal, health, medicines, emergency, hospitals" />
<meta name="description" content="Login and volunteer to help someone in need." />
<meta name="author" content="https://arjunsingh.com.np/" />

<meta property="og:title" content="Login - Online Blood Bank" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Login and volunteer to help someone in need." />
<meta property="og:image" content="{% static 'images/online-blood-bank.png' %}" />
<meta property="og:type" content="website" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="Login - Online Blood Bank" />
<meta property="twitter:image" content="{% static 'images/online-blood-bank.png' %}" />
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:image:alt" content="Onlne Blood Bank" />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

<div class="body-form">
  <main class="form-signin">
    <form action="{% url 'login_page' %}" method="POST">
      {% csrf_token %}

      <div class="mb-5 text-center text-danger display-3">
        <i class="fas fa-heartbeat"></i>
      </div>

      {% if form.non_field_errors %}
        {% for n_error in form.non_field_errors %}
          <div class="alert alert-danger">{{ n_error|escape }}</div>
        {% endfor %}
      {% endif %}

      {% for form_field in form %}

        {% if form_field.errors %}
          {% for error in form_field.errors %}
            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
          {% endfor %}
        {% endif %}

        <div class="mb-2 form-floating">
          {{ form_field }}
          {{ form_field.label_tag }}
        </div>

        {% if form_field.help_text %}
          <div class="text-secondary">{{ form_field.help_text|safe }}</div>
        {% endif %}

      {% endfor %}

      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif%}

      <button class="w-100 btn btn-lg btn-danger" type="submit">Login</button>

      <p class="mt-5 mb-3 text-center text-muted">
        New Here? <a href="{% url 'register_page' %}">Register</a> |
        Forgot Password? <a href="{% url 'password_reset' %}">Reset</a>
      </p>

    </form>

  </main>
</div>

{% endblock %}


{% block scripts %}
{% endblock %}