{% extends 'base.html' %}
{% block main %}

    <!-- Main Banner -->
    <div class="container my-5">
      {% if msg %}
        <div class="alert alert-danger">{{ msg }}</div>
      {% endif %}
        <div class="row my-2">
            <div class="col-lg-6">
                <img src="{{ user.display_photo.url }}" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2 class="display-3 fw-bold">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="display-6">
                    Blood Group: <strong>{{ user.get_blood_group_display }}</strong> <br>
                    Address: <strong>{{ user.district }}, {{ user.local_level }}</strong> <br>
                    Gender: <strong>{{ user.get_gender_display }}</strong> <br>
                    Age: <strong>{{ user.age }}</strong>
                </p>
                
              
                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#updateProfieModal">
                    Send Request
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="updateProfieModal" tabindex="-1" aria-labelledby="updateProfieModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="updateProfieModalLabel">Update Profile</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          
                          <form novalidate action="{% url 'user_page' user.id %}" method="POST">
                          
                            {% include 'includes/general-form.html' %}

                            <button class="w-100 mt-3 btn btn-danger btn-lg" type="submit">RequeSt DONOR</button>
                
                        </form>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal End -->




            </div>
        </div>

        <hr class="my-5">

        <div class="row my-2">
            <div class="col-lg-6">
                <h2 class="text-danger">Donation History</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-lg-6">
                <h2 class="text-danger">Request History</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Blood Group</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
      </div>
      <!-- End Main Banner -->
  
  
      {% endblock %}