{% extends 'base.html' %}
{% load static %}


{% block meta %}

<title>Register - Online Blood Bank</title>
<meta name="keywords" content="blood, online blood, blood bank, nepal, health, medicines, emergency, hospitals" />
<meta name="description" content="Register today to join the cause. Help someone in need." />
<meta name="author" content="https://arjunsingh.com.np/" />

<meta property="og:title" content="Register - Online Blood Bank" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Register today to join the cause. Help someone in need." />
<meta property="og:image" content="{% static 'images/online-blood-bank.png' %}" />
<meta property="og:type" content="website" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="Register - Online Blood Bank" />
<meta property="twitter:image" content="{% static 'images/online-blood-bank.png' %}" />
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:image:alt" content="Onlne Blood Bank" />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

<div class="body-form">
    <main class="form-signin"  style="max-width: 800px;">
        <form action="{% url 'register_page' %}" method="POST">
            {% csrf_token %}

            <div class="mb-5 text-center text-danger display-3">
                <i class="fas fa-heartbeat"></i>
            </div>

            {% if form.non_field_errors %}
                {% for n_error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ n_error|escape }}</div>
                {% endfor %}
            {% endif %}

            <div class="row g-3">

                <div class="col-12">
                    {{ form.email.label_tag }}

                    {{ form.email }}

                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.email.help_text %}
                        <div class="text-secondary">{{ form.email.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.first_name.label_tag }}

                    {{ form.first_name }}

                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.first_name.help_text %}
                        <div class="text-secondary">{{ form.first_name.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.last_name.label_tag }}

                    {{ form.last_name }}

                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.last_name.help_text %}
                        <div class="text-secondary">{{ form.last_name.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.blood_group.label_tag }}

                    {{ form.blood_group }}

                    {% if form.blood_group.errors %}
                        {% for error in form.blood_group.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.blood_group.help_text %}
                        <div class="text-secondary">{{ form.blood_group.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.gender.label_tag }}

                    {{ form.gender }}

                    {% if form.gender.errors %}
                        {% for error in form.gender.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.gender.help_text %}
                        <div class="text-secondary">{{ form.gender.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.phone_number.label_tag }}

                    {{ form.phone_number }}

                    {% if form.phone_number.errors %}
                        {% for error in form.phone_number.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.phone_number.help_text %}
                        <div class="text-secondary">{{ form.phone_number.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.date_of_birth.label_tag }}

                    {{ form.date_of_birth }}

                    {% if form.date_of_birth.errors %}
                        {% for error in form.date_of_birth.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.date_of_birth.help_text %}
                        <div class="text-secondary">{{ form.date_of_birth.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.district.label_tag }}

                    {{ form.district }}

                    {% if form.district.errors %}
                        {% for error in form.district.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.district.help_text %}
                        <div class="text-secondary">{{ form.district.help_text|safe }}</div>
                    {% endif %}

                    <datalist id="districts"></datalist>

                </div>

                <div class="col-sm-6">
                    {{ form.local_level.label_tag }}
                    
                    {{ form.local_level }}

                    {% if form.local_level.errors %}
                        {% for error in form.local_level.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.local_level.help_text %}
                        <div class="text-secondary">{{ form.local_level.help_text|safe }}</div>
                    {% endif %}

                    <datalist id="locals"></datalist>

                </div>

                <div class="col-sm-6">
                    {{ form.password1.label_tag }}

                    {{ form.password1 }}

                    {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.password1.help_text %}
                        <div class="text-secondary">{{ form.password1.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                    {{ form.password2.label_tag }}

                    {{ form.password2 }}

                    {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                            <div style="text-align: left  !important;" class="text-danger">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.password2.help_text %}
                        <div class="text-secondary">{{ form.password2.help_text|safe }}</div>
                    {% endif %}
                </div>

                <div class="col-sm-6">
                </div>

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif%}

            </div>

            <button class="w-100 mt-3 btn btn-danger btn-lg" type="submit">Register</button>

            <p class="mt-5 mb-3 text-center text-muted">Already Registered? <a href="{% url 'login_page' %}">Login</a></p>

        </form>
    </main>
</div>

{% endblock %}


{% block scripts %}

{% include 'includes/populate_dropdown.html' %}

{% endblock %}