{% extends 'base.html' %}
{% load static %}


{% block meta %}

<title>Submit New Blood Request - Online Blood Bank</title>
<meta name="keywords" content="blood, online blood, blood bank, nepal, health, medicines, emergency, hospitals" />
<meta name="description" content="Wait for someone to offer help after submitting a blood request." />
<meta name="author" content="https://arjunsingh.com.np/" />

<meta property="og:title" content="Submit New Blood Request - Online Blood Bank" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Wait for someone to offer help after submitting a blood request." />
<meta property="og:image" content="{% static 'images/online-blood-bank.png' %}" />
<meta property="og:type" content="website" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="Submit New Blood Request - Online Blood Bank" />
<meta property="twitter:image" content="{% static 'images/online-blood-bank.png' %}" />
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:image:alt" content="Onlne Blood Bank" />

{% endblock %}


{% block styles %}
{% endblock %}


{% block main %}

<div class="body-form vh-100">
  <main class="form-signin">
    
    {% if msg %}
      <div class="alert alert-danger">{{ msg }}</div>
    {% endif %}

    <form novalidate action="{% url 'submit_request' %}" method="POST">

      {% include 'includes/general-form.html' %}

      <button class="w-100 btn btn-lg btn-danger" type="submit">Submit Request</button>

    </form>

  </main>
</div>

<datalist id="districts"></datalist>
<datalist id="locals"></datalist>

{% endblock %}


{% block scripts %}

<script>
  $(document).ready(function() {

    var district = $('#districts');
    $.getJSON("{% static 'js/places.json' %}", function (result) {
      for(x in result) {
        district.append($("<option></option>").attr("value", x));
      }
    });

    $('#id_district').on('change', function () {
      var state = $(this).val(), city = $('#locals');
      $.getJSON("{% static 'js/places.json' %}", function (result) {
        var values = result[state];
        city.find('option').remove();
        if (values != undefined && values.length > 0) {
          $(values).each(function(index, element) {
            city.append($("<option></option>").attr("value", element));
          });
        }
      });
    });

  });
</script>

{% endblock %}